<% provide(:title, "login") %>
<% content_for :javascript do %>
<script type="text/javascript">
  $(function(){
    $('#login').submit(function(){
      var u = $('#username').val();
      var p = $('#password').val();
      if(u == '' && p == '') {
          $('.login-alert').fadeIn();
          return false;
      }
    });
  });
</script>
<% end %>

<div class="loginpanel">
  <div class="loginpanelinner">
    <div class="logo animate0 bounceIn">Logo</div>
      <%= form_tag sessions_path do %>
      <div class="inputwrapper login-alert animate5 fadeIn" style="margin-bottom: 5px;">
        <div class="alert alert-warning">体验版部分功能不可用，请升级成正式版</div>
      </div>
      <div class="inputwrapper animate1 bounceIn">
        <%= text_field_tag :email, params[:email], :class => 'text_field', :placeholder => "Enter username" %>
      </div>
      <div class="inputwrapper animate2 bounceIn">
        <%= password_field_tag :password, params[:password], :class => 'text_field', :placeholder => "Enter password" %>
      </div>
      <div class="inputwrapper animate3 bounceIn">
        <%= submit_tag "Sign in", class: "btn btn-primary" %>
      </div>
      <div class="inputwrapper animate4 bounceIn">
        <label><input type="checkbox" class="remember" name="signin" /> Keep me sign in</label>
      </div>
      <% end %>     
  </div><!--loginpanelinner-->
</div><!--loginpanel-->

<div class="loginfooter">
  <p>&copy; 2010 Link Resources International Consulting Group. All rights reserved</p>
</div>

