<% provide(:title, t("users.all.create")) %>
<% provide(:page_title, t("users.all.create")) %>
<% provide(:page_sub_title, t("users.all.create")) %>
<% provide(:page_icon, "iconfa-user") %>

<% content_for :breadcrumbs do %>
<li><%= link_to t("users.page.title"), admin_manage_users_path %> <span class="separator"></span></li>
<%= content_tag(:li, t("users.all.create")) %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
  </div>
  <div id="dashboard-right" class="span4">
  </div>
</div>