<div id="quick_form">  
</div>
<div class="footer">
  <div class="footer-left">
    <span>&copy; 2010 Link Resources International Consulting Group. All rights reserved</span>
  </div>
</div><!--footer-->