<div class="leftmenu">        
  <ul class="nav nav-tabs nav-stacked">
    <li class="nav-header">Navigator</li>
      <li class="dropdown active"><a href=""><span class="iconfa-plus"></span> User Actions</a>
      <ul style="display: block">
        <li class="active"><a href="home.html"><span class="iconfa-home"></span> Home</a></li>
        <li><a href="#"><span class="iconfa-book"></span> My Courses</a></li>
        <li><a href="#"><span class="iconfa-edit"></span> My Exams</a></li>
        <li><a href="#"><span class="iconfa-tasks"></span> My Assessmemts</a></li>
        <li><a href="#"><span class="iconfa-calendar"></span> Training Calender</a></li>
        <li><a href="#"><span class="iconfa-cloud"></span> Competency Library</a></li>
        <li><a href="#"><span class="iconfa-briefcase"></span> Course Library</a></li>
        <li><a href="#"><span class="iconfa-group"></span> Teachers</a></li>
      </ul>
      
      <li class="dropdown"><a href=""><span class="iconfa-plus"></span> Tearcher Actions</a>
      <ul>
        <li><a href="#"><span class="iconfa-certificate"></span> Certifications</a></li>
        <li><a href="#"><span class="iconfa-briefcase"></span> My Classes</a></li>
        <li><a href="#"><span class="iconfa-th-large"></span> My Course Development</a></li>
        <li><a href="#"><span class="iconfa-list"></span> My Records</a></li>
        <li><a href="#"><span class="iconfa-glass"></span> Teacher Clubs</a></li>
      </ul>
    
      <li class="dropdown"><a href=""><span class="iconfa-plus"></span> Manager Actions</a>
      <ul>
        <li><a href="#"><span class="iconfa-group"></span> Tean Members</a></li>
        <li><a href="#"><span class="iconfa-globe"></span> Team Competency</a></li>
        <li><a href="#"><span class="iconfa-folder-close"></span> Team Learning Records</a></li>
        <li><a href="#"><span class="iconfa-list-ul"></span> Assessments</a></li>
      </ul>
      
      <li class="dropdown"><a href=""><span class="iconfa-plus"></span> Administrator Actions</a>
      <ul>
        <li><a href="#"><span class="iconfa-sitemap"></span> Competency Managememt</a></li>
        <li><a href="#"><span class="iconfa-folder-open"></span> Course Managememt</a></li>
        <li><a href="#"><span class="iconfa-user"></span> Teacher Managememt</a></li>
        <li><a href="#"><span class="iconfa-cogs"></span> Provider Management</a></li>
        <li><a href="#"><span class="iconfa-star"></span> Learning Plan</a></li>
        <li><a href="#"><span class="iconfa-flag"></span> Assessments Management</a></li>
        <li><a href="datamine.html"><span class="iconfa-cloud"></span> Data Analysis</a></li>
      </ul>
  </ul>
</div><!--leftmenu-->
