<%
feed_item ||= @feed_item
comment = feed_item.item
topic = comment.commentable
%>

<i class="activity-icon iconfa-comments"></i>
<%= link_to comment.user.name, comment.user %> 已经回复了 <%= link_to topic.title, topic %>
<span class="activity-time"><%= distance_of_time_in_words_to_now(comment.created_at) + "前" %></span>

