<%
feed_item ||= @feed_item
relation = feed_item.item
leader = relation.leader
follower = relation.follower
%>


<i class="activity-icon iconfa-check"></i>
<%= link_to follower.name, follower %> 已经关注了 <%= link_to leader.name, leader %>
<span class="activity-time"><%= distance_of_time_in_words_to_now(relation.created_at) + "前" %></span>
