// Place all the styles related to the admin/Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td#related-course {
  ul {
    list-style-type: none;
    padding: 0 10px;
  }
}

td#related-competency-level {
  ul {
    list-style-type: none;
    padding: 0 10px;
  }
}