// Place all the styles related to the admin/Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td#related-course {
  ul {
    list-style-type: none;
    padding: 0 10px;
  }
}

td#related-competency-level {
  ul {
    list-style-type: none;
    padding: 0 10px;
  }
}

.overview {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0 0 6px 0;
    a { 
      color: #fff;
      background: #0866c6;
      padding: 10px 20px;
      display: block;
      font-size: medium;
      &:hover { background: #282828; text-decoration: none; }
      span.overview-icon { margin-right: 5px; }
      span.overview-counter { float: right; } 
    }
  }
}

