<% provide(:title, current_user.admin? ? "社区管理" : "知识中心") %>
<% provide(:page_title, current_user.admin? ? "社区管理" : "知识中心") %>
<% provide(:page_sub_title, current_user.admin? ? "社区管理" : "知识中心") %>
<% provide(:page_icon, "iconfa-user") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, current_user.admin? ? "社区管理" : "知识中心") %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
$(function() {
  $('.tabbedwidget').tabs();
});
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="tabbedwidget tab-primary">
      <ul>
        <li><a href="#tabs-1"><span>最新问题</span></a></li>
        <li><a href="#tabs-2"><span>最热问题</span></a></li>
        <li><a href="#tabs-3"><span>未解决问题</span></a></li>
      </ul>
      <div id="tabs-1" class="nopadding">
                                <ul class="topiclist">
                                <li>
                                    <img src="images/photos/thumb7.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="<%= details_path %>">如何处理客户投诉？</a></h4>
                                        <p><a href="">文华</a> 在 24 秒钟前提问</p>
                                        <p class="topic-content">我是一名个金客户经理，经常会遇到客户直接投诉我行业务，实际上并不是因为我的原因产生的，让我很苦恼。请问如何解决？</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">个金客户经理</span>
                                            <span class="label label-info">投诉</span>
                                            <span class="label label-info">处理</span>
                                        <p class="pull-right">
                                            <i class="iconfa-comments-alt"></i><span> 0 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 0 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb6.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">我第一次做业务，如何去开发新客户，怎么才能让对方想了解更多自己的银行，产生业务来往。</a></h4>
                                        <p><a href="">罗寿坤</a> 在 49 秒钟前提问</p>
                                        <p class="topic-content">与客户沟通技巧、打电话给客户一开始应该说些什么回让客户觉得我是关心他的！</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">客户开发</span>
                                            <span class="label label-info">沟通技巧</span>
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 0 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 0 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb5.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">银行公司客户经理如何发展开拓新客户，增加存款。</a></h4>
                                        <p><a href="">侯运祥</a> 在 1 分钟前提问</p>
                                        <p class="topic-content">我是新人，还请前辈们指点。</p>                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">公司客户经理</span>
                                            <span class="label label-info">开拓新客户</span>
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 0 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 0 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb4.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">如何控制银行对中小企业的信贷风险</a></h4>
                                        <p><a href="">阎永康</a> 在 3 mins ago</p>
                                        <p class="topic-content">请高人们指点如何按照一定步骤来识别这些风险。</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">信贷风险</span>
                                            <span class="label label-info">中小企</span>
                                
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 2 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 1 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb3.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">银行国际业务部的的国际结算岗是做什么的？</a></h4>
                                        <p><a href="">王春晖</a> 在 4 mins ago</p>
                                        <p class="topic-content">目前我有可能调去该岗位，还请了解岗位情况的同事给与指导，谢谢。</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">国际业务</span>
                                            <span class="label label-info">国际结算岗</span>
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 3 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 5 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb2.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">银行对中小企业国际贸易融资业务主要有哪些？</a></h4>
                                        <p><a href="">王世祥</a> 在 10 mins ago</p>
                                        <p class="topic-content">目前，银行在对中小企业进行国际贸易融资时主要是采用哪些业务？我查了很多资料，但都没有详细介绍。谢谢了！是针对中小企业的  银行在为这部分客户融资时 通常采用什么业务?打包带贷款对中小企业做得多吗? </p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">中小企</span>
                                            <span class="label label-info">国际贸易融资</span>
                                            <span class="label label-info">业务</span>
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 3 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 2 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb1.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">金融危机下，我国银行开展国际业务需注意哪些问题？</a></h4>
                                        <p><a href="">石跃龙</a> 在 14 mins ago</p>
                                        <p class="topic-content">金融危机下，我国银行开展国际业务需注意哪些问题？</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">金融危机</span>
                                            <span class="label label-info">国际业务</span>
 
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 1 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 1 关注</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/photos/thumb10.png" alt="" class="pull-left" />
                                    <div class="topic-info">
                                        <h4><a href="">请问作为一个支行行长，最重要的工作是哪些？</a></h4>
                                        <p><a href="">何仲民</a> 在 25 mins ago</p>
                                        <p class="topic-content">我即将升任天河支行行长，对于新岗位比较陌生，也不知道是否能做得好？还希望得到大家的意见。</p>
                                        
                                            <i class="iconfa-tags"></i>
                                            <span class="label label-info">支行行长</span>
                                            <span class="label label-info">主要工作</span>
 
                                        <p class="pull-right">
                                            
                                            <i class="iconfa-comments-alt"></i><span> 4 回答</span>
                                            <i class="iconfa-thumbs-up"></i><span> 20 关注</span>
                                        </p>
                                    </div>
                                </li>
                                </ul>
 
                                <div class="pagination">
                                <ul>
                                    <li class="disabled"><a>上一页</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">下一页</a></li>
                                </ul>
                                </div><!--pagination-->
                            </div>
                            <div id="tabs-2" class="nopadding">
                                <h5 class="tabtitle">No Content</h5>
                               
                            </div>
                            <div id="tabs-3" class="nopadding">
                                <h5 class="tabtitle">No Content</h5>
                                
                            </div>
                        </div><!--tabbedwidget-->
 
    <br/>

  </div>
  <div id="dashboard-right" class="span4">
    <div class="widgetbox">
                            <h4 class="widgettitle">热门关键词<a class="minimize">&#8211;</a></h4>
                            <div class="widgetcontent">
                                <ul class="taglist">
                                    <li><span class="label label-info">公司业务</span> &times; 182</li>
                                    <li><span class="label label-info">中小企</span> &times; 177</li>
                                    <li><span class="label label-info">存款</span> &times; 156</li>
                                    <li><span class="label label-info">贷款</span> &times; 144</li>
                                    <li><span class="label label-info">拓展</span> &times; 134</li>
                                    <li><span class="label label-info">信贷</span> &times; 123</li>
                                    <li><span class="label label-info">风险</span> &times; 121</li>
                                    <li><span class="label label-info">国际业务</span> &times; 109</li>
                                    <li><span class="label label-info">理财</span> &times; 98</li>
                                    <li><span class="label label-info">收益</span> &times; 97</li>
                                    <li><span class="label label-info">金融危机</span> &times; 89</li>
                                    <li><span class="label label-info">客户经理</span> &times; 85</li>
                                    <li><span class="label label-info">个人金融</span> &times; 84</li>
 
                                </ul>
                            </div>
                        </div>
                        
                        <div class="widgetbox">
                            <h4 class="widgettitle">活跃用户<a class="minimize">&#8211;</a></h4>
                            <div class="widgetcontent">
                                <ul class="userlist userlist-favorites">
                                    <li>
                                        <div>
                                            <img src="images/photos/thumb3.png" alt="" class="pull-left" />
                                            <div class="uinfo">
                                                <h5>王春晖</h5>
                                                <p class="link">
                                                    <a href=""><i class="iconfa-plus"></i> 关注 </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="images/photos/thumb4.png" alt="" class="pull-left" />
                                            <div class="uinfo">
                                                <h5>阎永康</h5>
                                                <p class="link">
                                                    <a href=""><i class="iconfa-plus"></i> 关注  </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="images/photos/thumb5.png" alt="" class="pull-left" />
                                            <div class="uinfo">
                                                <h5>陈建国</h5>
                                                <p class="link">
                                                    <a href=""><i class="iconfa-plus"></i> 关注  </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="images/photos/thumb1.png" alt="" class="pull-left" />
                                            <div class="uinfo">
                                                <h5>石跃龙</h5>
                                                <p class="link">
                                                    <a href=""><i class="iconfa-plus"></i> 关注  </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="images/photos/thumb2.png" alt="" class="pull-left" />
                                            <div class="uinfo">
                                                <h5>王世祥</h5>
                                                <p class="link">
                                                    <a href=""><i class="iconfa-plus"></i> 关注  </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />

  </div>
</div>