/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require jquery.ui
 *= require font-awesome.min
 *= require animate.min
 *= require animate.delay
 *= require bootstrap-fileupload.min
 *= require style.default
 *= require_self
 *= require_tree .
 */

form p.help-block { 
  font-style:italic;
}

.page-wrapper {
  padding: 10px 20px;
}

.well {
  background-color: #fff;
}

a.btn-primary, a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {
  color: #fff;
}

.btn-small {
  padding: 0 4px;
}

.btn-mini {
  padding: 0;
}