// Place all the styles related to the CoursesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class-course { }
.class-course img { width: 300px }
.course-banner { margin-left: 320px; }
.course-banner ul {
  list-style-type: none; 
  padding: 10px 0; 
  margin: 0px;
}
.course-banner button { margin: 18px 0;}

.course-introduction { 
  color: #333; 
  padding: 10px 30px; 
}

blockquote {
  font-style: normal;
}
//.course-introduction p { margin: 5px 0; }

.about-teacher { 
  background-color: #fff;
  min-height: 80px;
  .teacher-image-rate {
    float: left;
    width: 60px;
    text-align: center;

    img { width: 60px; }
    span.teacher-rate { 
      color: #ffc333;
    }
  } 
}


.about-teacher img { width: 60px; }
.about-teacher .teacher-info { margin-left: 80px; min-height: 60px; }

.course-students { background-color: #fff; }
.course-students ul { list-style-type: none; padding: 0px; margin: 0px; }
.course-students ul li { display: inline; }
.course-students ul li img { width: 30px; height: 30px; }

.course-students {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.course-discussion {
  .discuss-list {

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px 0;
        border-bottom: 1px dashed #ddd;
        &:last-child { border-bottom: 0; }
        img { 
          float: left;
          width: 40px;
        }

        .discuss-details {
          margin-left: 50px;
        }
      }
    }
  }

  .discuss-input-box {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    
    img {
      float: left; 
      width: 40px;
    }
    .discuss-input {
      margin-left: 50px;
      textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: 100%;
      }
    }
  }
}

.course-active-class-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px 15px;
    border-bottom: 1px dashed #ddd;
    &:last-child { border-bottom: 0; }
    form {
      display: inline;
    }
  }
}

.course-comments {
  h4 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  ul.course-comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      &:last-child { border-bottom: 0; }

      img { float: left; width: 40px; }
      div.comment-details {
        margin-left: 50px;
      }
    }
  }

  .course-comment-form {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    img { float: left; width: 40px; }
    div.comment-input {
      margin-left: 50px;
      textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: 100%;
      }      
    }
  }
}

ul.course-class-attachment {
  padding: 10px 15px;

  li {
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
    &:last-child { border-bottom: 0; }
  }
}

.course-class-uploader-form {
  border-top: 1px dashed #ddd;
  padding-top: 20px;
  margin-top: 20px;

  form {
    .control-group .controls .input { display: inline; }
  }
}
