// Place all the styles related to the Examinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.exam-list {
  list-style-type: none;

  li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
    &:last-child { border-bottom: 0; }
  }

}

.exam-question-list {
  list-style-type: none;

  li.question-details {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }

    .question-header {
      padding: 5px 0;
      span.qustion-title {
        font-weight: bold;
      }
    }

    ul.option-list-choice {
      list-style-type: upper-alpha;
      margin: 0 20px;
    }

    ul.option-list-judgement {
      list-style-type: none;
    }
  }

  .iconfa-check {
    color: green;
    margin: 0 10px;
  }
}

.exam-feedback-question-list {
  list-style-type: none;

  li.question-type {
    padding: 5px 10px;
    background-color: #e3e3e3;
  }

  li.question-details {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }
    span.options { text-align: center; }
  }
}
