// Place all the styles related to the TrainingPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tp-list {
  padding: 0;
  margin: 0;
}

.tp-details-progress {
  h4 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  ul.tp-course-progress-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    li {
      padding: 10px 0;
      border-bottom: 1px dashed #ddd;
      &:last-child { border-bottom: 0; }
    }
  }
}

.progress {
  height: 18px;
  .bar {
    color: #333;
  }
}