// Place all the styles related to the TrainingPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tp-list {
  list-style-type:none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }

    .tp-header {
      padding-bottom: 5px;
      //margin-right: 130px;
      a { font-size: medium; padding-right: 10px; }
      .created-at { font-style: italic; color: #3e3e3e; }
    }
  }
}

.tp-details {
  h4#tp-header {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  ul.tp-course-list {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;

    li {
      min-height: 45px;
      padding: 5px 0;
      img { float: left; width: 60px; }
      div.tp-course-info { 
        margin: 0 70px;
        padding: 2px 0;
      }
      a.action { float: right; }
      border-bottom: 1px dashed #ddd;
    }
  }
}

.tp-details-progress {
  h4 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  ul.tp-course-progress-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

    li {
      padding: 10px 0;
      border-bottom: 1px dashed #ddd;
      &:last-child { border-bottom: 0; }
    }
  }
}

.progress {
  height: 18px;
  .bar {
    color: #333;
  }
}

