// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-box {
  min-height: 120px;
  .user-info-image {
    width: 80px;
    float: left;
    text-align: center;
    img {
      width: 80px;
    }
  }

  .user-info {
    margin-left: 100px;

    ul.info-details {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }    
  } 
}

.user-image-name {
  text-align: center;
  width: 40px;
  img { width: 40px; }
}

.user-subordinates, .user-follower, .user-following {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
