// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-box {
  min-height: 130px;
  .user-info-image {
    width: 80px;
    float: left;
    text-align: center;
    img {
      width: 80px;
    }
    .btn-mini {
      padding: 0;
    }
  }

  .user-info {
    margin-left: 100px;
    a {
      font-size: 17px;
    }

    ul.info-details {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    span.user-level {
      color: #f97956;
      padding-left: 10px;
    }    
  } 
}

.user-image-name {
  text-align: center;
  width: 60px;
  img { width: 60px; }
}

.user-subordinates, .user-follower, .user-following {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 4px;
    }
  }
}

ul.pedding-assessment-list {
  list-style-type: none;

  li {
    display: block;
    border-bottom: 1px dashed #ddd;
    padding: 15px 20px;
    //font-size: 15px;
    &:last-child { border-bottom: 0; }
    img { width: 30px; vertical-align:middle; margin-right: 15px; }
  }
}

ul.assessment-list {
  list-style-type: disc;
  padding-left: 20px;
  li {
    padding: 5px 0;
  }
  li.err {
    color: red;
  }
}

div.assessment-error {
  display: none;
  margin-bottom: 10px;
}

.assessing-user-box {
  padding: 10px 20px;
  min-height: 50px;
  img {
    float: left;
    width: 50px;
  }
  .user-info {
    margin-left: 60px;
    h5 { margin: 5px 0; }
  }
}

ul.activity-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 5px 15px;
    border-bottom: 1px dashed #ddd;
    &:last-child { border-bottom: 0; }
    .activity-icon { padding-right: 10px; color: #8aba56; font-size: 15px; }
    span.activity-time { display: block;  margin-left: 30px; font-style: italic; color: #bfbbc6; }
  }
}

ul.user-todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 10px 15px;
    border-bottom: 1px dashed #ddd;
    &:last-child { border-bottom: 0; }
    span.todo-action { float: right }
    .btn-small {
      padding: 0 4px;
    }
  }
}

ul.notificaiton-list {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;

}

ul.active-project-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li.active-class {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }

    form { display: inline; }
  }
}

ul.teach-classes-list {
  list-style-type: none;

  li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    &:last-child { border-bottom: 0; }
  }
}

